:root {
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-navy-blue-modal: #2e2f42;
    --color-grey: #2e2f42;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;

    --font-family-primary: "Roboto", sans-serif;
    --font-family-secondary: "Raleway", sans-serif; 

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;

    --font-size-title: 56px;
    --font-size-header-2: 36px;
    --font-size-header-3: 20px;
    --font-size-logo: 18px;
    --font-size-regular: 16px;
    --font-size-small: 12px;

    --line-height-title-hero: 1.07;
    --line-height-title-primary: 1.2;
    --line-height-title-secondary: 1.11;
    --line-height-primary: 1.5;
    --line-height-secondary: 1.17;

    --letter-spacing-primary: 0.02em;
    --letter-spacing-secondary: 0.03em;
    --letter-spacing-additional: 0.04em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

input,
textarea,
button { font: inherit }

button {
    cursor: pointer;
    color: currentColor;
}

a {
    text-decoration: none;
    outline: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    box-sizing: border-box;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-normal);
    letter-spacing: var(--letter-spacing-primary);
    margin: 0;
    padding: 0;
    color: var(--color-slate);
    background-color: var(--color-white);
}

body.is-fixed { overflow: hidden }

.list { list-style-type: none; }

.link { text-decoration: none }

.button { cursor: pointer }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
  
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* ========== START header ========== */
.header {
    border-bottom: 1px solid var(--color-cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
  
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.header-nav {
    display: flex;
    align-items: center;
}
  
.header-nav__logo-blue {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: var(--font-weight-extra-bold);
    font-size: var(--font-size-logo);
    line-height: var(--line-height-secondary);
    letter-spacing: var(--letter-spacing-secondary);
    text-transform: uppercase;
    margin-right: 76px;
    color: var(--color-iris);
}
  
.header-nav__logo-dark { color: var(--color-navy-blue) }
  
.header-nav__list {
    display: flex;
    gap: 40px;
}
  
.header-nav__link {
    position: relative;
    display: block;
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-primary);
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--color-navy-blue);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.header-nav__link:hover,
.header-nav__link:focus { color: var(--color-ocean) }

.header-nav__link--active { color: var(--color-ocean) }

.header-nav__link--active::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-ocean);
    position: absolute;
    bottom: -1px;
    left: 0;
}
  
.header-contacts { font-style: normal }
  
.header-contacts__list {
    display: flex;
    gap: 40px;
}
  
.header-contacts__link {
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;
    line-height: var(--line-height-primary);
    color: var(--color-slate);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.header-contacts__link:hover,
.header-contacts__link:focus { color: var(--color-ocean) }
/* ========== END header ========== */

/* ========== START footer ========== */
.footer { 
    padding: 100px 0;
    background-color: var(--color-navy-blue); 
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer__logo-wrapper {
    width: 264px;
    margin-right: 120px;
}
  
.footer__logo-blue {
    display: inline-block;
    font-family: var(--font-family-secondary);
    font-weight: var(--font-weight-extra-bold);
    font-size: var(--font-size-logo);
    line-height: var(--line-height-secondary);
    letter-spacing: var(--letter-spacing-secondary);
    text-transform: uppercase;
    margin-bottom: 16px;
    color: var(--color-iris);
}
  
.footer__logo-white { color: var(--color-cloud) }

.footer__text {
    width: 264px;
    line-height: var(--line-height-primary);
    color: var(--color-cloud);
}

.footer__icon-text {
    margin-bottom: 16px;
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-primary);
    color: var(--color-white);
}

.footer__icon-list {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 16px;
}

.footer__icon-item {
    width: 40px;
    height: 40px;
}

.footer__icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: var(--color-iris);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__icon { fill: var(--color-cloud) }

.footer__icon-link:hover,
.footer__icon-link:focus { background-color: var(--color-green) }

.footer__subscribe-wrapper {
    margin-left: 80px;
}
  
.footer__subscribe-text {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-regular);
    line-height: var(--line-height-primary);
    margin-bottom: 16px;
    color: var(--color-white);
}
  
.footer__subscribe-form {
    display: flex;
    gap: 24px;
}
  
.footer__subscribe-input {
    min-width: 264px;
    min-height: 40px;
    flex-shrink: 0;
    padding-left: 16px;
    border-radius: 4px;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-small);
    line-height: var(--line-height-primary);
    letter-spacing: var(--letter-spacing-additional);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    outline: none;
    color: var(--color-white);
    background-color: transparent;
    border: 1px solid var(--color-white);
}
  
.footer__subscribe-input::placeholder { color: var(--color-white) }
  
.footer__subscribe-button {
    font-family: "Roboto", sans-serif;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-regular);
    line-height: var(--line-height-primary);
    letter-spacing: var(--letter-spacing-additional);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40px;
    min-width: 165px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    color: var(--color-white);
    background-color: var(--color-iris);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.footer__subscribe-button:hover,
.footer__subscribe-button:focus {
    background-color: var(--color-ocean);
}
  
.footer__subscribe-icon {
    fill: var(--color-white);
    margin-left: 16px;
}
/* ========== END footer ========== */

/* ========== START index ========== */

/* section: hero */
.hero { 
    padding: 188px 0;
    background-color: var(--color-navy-blue) 
}

.hero__bg-image {
    max-width: 1440px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-bg.jpg");
}

.hero__title {
    max-width: 496px;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-title);
    line-height: var(--line-height-title-hero);
    letter-spacing: var(--letter-spacing-primary);
    text-align: center;
    margin: 0 auto 48px;
    color: var(--color-white);
}

.hero__button {
    display: block;
    min-width: 169px;
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-regular);
    line-height: var(--line-height-primary);
    letter-spacing: var(--letter-spacing-additional);
    padding: 16px 32px 16px 32px;
    margin: 0 auto;
    color: var(--color-white);
    background-color: var(--color-iris);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus { background-color: var(--color-ocean) }

/* section: features */
.features { padding: 120px 0 }

.features__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: var(--color-cloud);
}

.features__title {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-header-3);
    line-height: var(--line-height-title-primary);
    letter-spacing: var(--letter-spacing-primary);
    color: var(--color-navy-blue);
    margin-bottom: 8px;
}

.features__list {
    display: flex;
    gap: 24px;
}

.features__item { width: 264px }

.features__text { 
    line-height: var(--line-height-primary);
    color: var(--color-slate) 
}

/* section: works */
.works { padding-bottom: 120px }

.works__title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-header-2);
    line-height: var(--line-height-title-secondary);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
    color: var(--color-navy-blue);
}

.works__list {
    display: flex;
    gap: 24px;
}

/* section: work */
.team {
    background-color: var(--color-cloud);
    padding: 120px 0;
}

.team__title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-header-2);
    line-height: var(--line-height-title-secondary);
    text-align: center;
    letter-spacing: var(--letter-spacing-primary);
    text-transform: capitalize;
    margin-bottom: 72px;
    color: var(--color-navy-blue);
}

.team__list { 
    display: flex;
    gap: 24px;
}

.team__item { 
    background-color: var(--color-white);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team__wrapper { padding: 32px 0 }

.team__specialist {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-header-3);
    line-height: var(--line-height-title-primary);
    letter-spacing: var(--letter-spacing-primary);
    text-align: center;
    margin-bottom: 8px;
    color: var(--color-navy-blue);
}

.team__job-title {
    margin-bottom: 8px;
    text-align: center;
    line-height: var(--line-height-primary);
    color: var(--color-slate);
}

.team__list-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
  
.team__item-icon {
    width: 40px;
    height: 40px;
}
  
.team__link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--color-iris);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.team__link-icon:hover,
.team__link-icon:focus { background-color: var(--color-ocean) }
  
.team__icon { fill: var(--color-cloud) }  

/* section: customers */
.customers { padding: 120px 0 }
  
.customers__title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-header-2);
    line-height: var(--line-height-title-secondary);
    letter-spacing: var(--letter-spacing-primary);
    text-align: center;
    margin-bottom: 72px;
    color: var(--color-navy-blue);
}
  
.customers__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
  
.customers__item {
    width: 168px;
    height: 88px;
}
  
.customers__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--color-light-slate);
    border: 1px solid var(--color-light-slate);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: currentColor;
}
  
.customers__link:hover,
.customers__link:focus {
    color: var(--color-ocean);
    fill: var(--color-ocean);
    border-color: var(--color-ocean);
}
/* ========== END index ========== */

/* ========== START portfolio ========== */
.gallery { padding: 96px 0 120px }

.gallery-filter__list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.gallery-filter__button {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-regular);
    line-height: var(--line-height-primary);
    letter-spacing: var(--letter-spacing-additional);
    padding: 12px 24px 12px 24px;
    border: 1px solid var(--color-cornflower);
    border-radius: 4px;
    color: var(--color-iris);
    background-color: var(--color-cloud);
    transition: 
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-filter__button:hover,
.gallery-filter__button:focus {
    color: var(--color-white);
    background-color: var(--color-ocean);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
}

.gallery__list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
  
.gallery__link {
    display: block;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.gallery__link:hover,
.gallery__link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
  
.gallery__link:hover .gallery__overlay-text,
.gallery__link:focus .gallery__overlay-text { transform: translateY(0) }

.gallery__title {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-header-3);
    line-height: var(--line-height-title-primary);
    letter-spacing: var(--letter-spacing-primary);
    color: var(--color-navy-blue);
    margin-bottom: 8px;
}

.gallery__list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.gallery__item { width: calc((100% - 48px) / 3) }

.gallery__overlay-wrapper {
    position: relative;
    overflow: hidden;
}
  
.gallery__overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-regular);
    line-height: var(--line-height-primary);
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-color: var(--color-iris);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--color-cloud);
}

.gallery__wrapper {
    border: 1px solid var(--color-cornflower);
    border-top: none;
    padding: 32px 16px;
}

.gallery__text {
    color: var(--color-slate);
    letter-spacing: var(--letter-spacing-primary);
    line-height: var(--line-height-title-primary);
}
/* ========== END portfolio ========== */

/* ========== START modal ========== */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    background-color: var(--color-dairy);
    transform: translateX(-50%) translateY(-50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--color-cornflower);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close:hover,
.modal__button-close:focus {
    border: none;
    fill: var(--color-white);
    background-color: var(--color-ocean);
}

.modal__icon-close {
    fill: var(--ancillary-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close:hover .modal__icon-close,
.modal__button-close:focus .modal__icon-close { fill: var(--color-white) }

.modal__title {
    color: var(--color-navy-blue);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-regular);
    line-height: var(--line-height-primary);
    letter-spacing: var(--letter-spacing-primary);
    text-align: center;
    margin-bottom: 16px;
    display: block;
}

.modal__wrapper { margin-bottom: 8px }

.modal__label {
    display: block;
    color: var(--color-light-slate);
    font-size: var(--font-size-small);
    line-height: var(--line-height-secondary);
    letter-spacing: var(--letter-spacing-additional);
    margin-bottom: 4px;
}

.modal__icon-wrapper { position: relative }

.modal__input {
    width: 100%;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus { border-color: var(--color-iris) }

.modal__input:focus + .modal__icon { fill: var(--color-iris) }

.modal__icon {
    fill: var(--color-navy-blue);
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__text-field-wrapper { margin-bottom: 16px }

.modal__text-field {
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-small);
    line-height: var(--line-height-secondary);
    letter-spacing: var(--letter-spacing-additional);
    width: 100%;
    min-height: 120px;
    padding: 8px 16px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
}

.modal__text-field::placeholder { color: rgba(46, 47, 66, 0.4) }

.modal__text-field::placeholder { color: rgba(46, 47, 66, 0.4) }

.modal__text-field:focus { border-color: var(--color-iris) }

.modal__check-wrapper { margin-bottom: 24px }

.modal__check-input:checked + .modal__check-text .modal__check-box {
    background-color: var(--color-ocean);
    border: none;
    fill: var(--color-cloud);
}

.modal__check-text {
    color: var(--color-light-slate);
    font-size: var(--font-size-small);
    line-height: var(--line-height-secondary);
    letter-spacing: var(--letter-spacing-additional);
}

.modal__check-box {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.modal__link-text {
    margin-left: 4px;
    color: var(--color-iris);
    text-decoration: underline;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__link-text:hover,
.modal__link-text:focus { color: var(--color-ocean) }

.modal__button-submit {
    font-family: "Roboto", sans-serif;
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-primary);
    
    letter-spacing: var(--letter-spacing-additional);
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    background-color: var(--color-iris);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    margin: 0 auto;
    display: block;
    color: var(--color-white);
    text-align: center;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-submit:hover,
.modal__button-submit:focus { background-color: var(--color-ocean) }
/* ========== END modal ========== */
