:root {
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-navy-blue-modal: #2e2f42;
    --color-grey: #2e2f42;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;

    --font-family-primary: "Roboto", sans-serif;
    --font-family-secondary: "Raleway", sans-serif; 

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;

    --font-size-title: 56px;
    --font-size-header-2: 36px;
    --font-size-header-3: 20px;
    --font-size-logo: 18px;
    --font-size-regular: 16px;
    --font-size-small: 12px;

    --line-height-title-hero: 1.07;
    --line-height-title-primary: 1.2;
    --line-height-title-secondary: 1.11;
    --line-height-primary: 1.5;
    --line-height-secondary: 1.17;

    --letter-spacing-primary: 0.02em;
    --letter-spacing-secondary: 0.03em;
    --letter-spacing-additional: 0.04em;
}
  
body {
    font-family: var(--font-family-primary);
    color: var(--color-slate);
    background-color: var(--color-white);
    font-size: var(--font-size-regular);
    letter-spacing: var(--letter-spacing-primary);
}

.list { list-style: none }

.link { text-decoration: none }

.button { cursor: pointer }

/* ========== START header ========== */
.header-nav__logo-blue {
    font-family: var(--font-family-secondary);
    font-weight: var(--font-weight-extra-bold);
    font-size: var(--font-size-logo);
    line-height: var(--line-height-secondary);
    letter-spacing: var(--letter-spacing-secondary);
    text-transform: uppercase;
    color: var(--color-iris);
}
  
.header-nav__logo-dark {
    font-family: var(--font-family-secondary);
    font-weight: var(--font-weight-extra-bold);
    font-size: var(--font-size-logo);
    line-height: var(--line-height-secondary);
    letter-spacing: var(--letter-spacing-secondary);
    text-transform: uppercase;
    color: var(--color-navy-blue);
}

.header-nav__link {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-regular);
    line-height: var(--line-height-primary);
    color: var(--color-navy-blue);
}

.header-nav__link:hover,
.header-nav__link:focus { color: var(--color-ocean) }

.header-contacts { font-style: normal }

.header-contacts__link {
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-regular);
    line-height: var(--line-height-primary);
    color: var(--color-slate);
}

.header-contacts__link:hover,
.header-contacts__link:focus { color: var(--color-ocean) }
/* ========== END header ========== */

/* ========== START footer ========== */
.footer { background-color: var(--color-navy-blue) }
  
.footer__logo-blue {
    font-family: var(--font-family-secondary);
    font-weight: var(--font-weight-extra-bold);
    font-size: var(--font-size-logo);
    line-height: var(--line-height-secondary);
    letter-spacing: var(--letter-spacing-secondary);
    text-transform: uppercase;
    color: var(--color-iris);
}
  
.footer__logo-white {
    font-family: var(--font-family-secondary);
    font-weight: var(--font-weight-extra-bold);
    font-size: var(--font-size-logo);
    line-height: var(--line-height-secondary);
    letter-spacing: var(--letter-spacing-secondary);
    text-transform: uppercase;
    color: var(--color-cloud);
}

.footer__text {
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-regular);
    line-height: var(--line-height-primary);
    color: var(--color-cloud);
}
/* ========== END footer ========== */

/* ========== START index ========== */
.hero { background-color: var(--color-navy-blue) }

.hero__title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-title);
    line-height: var(--line-height-title-hero);
    letter-spacing: var(--letter-spacing-primary);
    text-align: center;
    color: var(--color-white);
}

.hero__button {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-regular);
    line-height: var(--line-height-primary);
    letter-spacing: var(--letter-spacing-additional);
    color: var(--color-white);
    background-color: var(--color-iris);
}

.hero__button:hover,
.hero__button:focus { background-color: var(--color-ocean) }

.features__title {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-header-3);
    line-height: var(--line-height-title-primary);
    letter-spacing: var(--letter-spacing-primary);
    color: var(--color-navy-blue);
}

.features__text {
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-regular);
    line-height: var(--line-height-primary);
    color: var(--color-slate);
}

.works__title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-header-2);
    line-height: var(--line-height-title-secondary);
    text-align: center;
    text-transform: capitalize;
    color: var(--color-navy-blue);
}

.team { background-color: var(--color-cloud) }

.team__title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-header-2);
    line-height: var(--line-height-title-secondary);
    text-align: center;
    letter-spacing: var(--letter-spacing-primary);
    text-transform: capitalize;
    color: var(--color-navy-blue);
}

.team__list { background-color: var(--color-white) }

.team__item { background-color: var(--color-white) }

.team__specialist {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-header-3);
    line-height: var(--line-height-title-primary);
    letter-spacing: var(--letter-spacing-primary);
    color: var(--color-navy-blue);
}

.team__job-title {
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-regular);
    line-height: var(--line-height-primary);
    color: var(--color-slate);
}
/* ========== END index ========== */

/* ========== START portfolio ========== */
.gallery-filter__button {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-regular);
    line-height: var(--line-height-primary);
    letter-spacing: var(--letter-spacing-additional);
    color: var(--color-iris);
    background-color: var(--color-cloud);
}

.gallery-filter__button:hover,
.gallery-filter__button:focus {
    color: var(--color-white);
    background-color: var(--color-ocean);
}

.gallery__title {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-header-3);
    line-height: var(--line-height-title-primary);
    letter-spacing: var(--letter-spacing-primary);
    color: var(--color-navy-blue);
}

.gallery__text {
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-regular);
    line-height: var(--line-height-primary);
    letter-spacing: var(--letter-spacing-primary);
    color: var(--color-slate);
}
/* ========== END portfolio ========== */
